<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/sass/critical.css">
</head>
<body>
	<header>
		<a href="/">Some Antics</a>
		<nav>
			<ul>
				<li>
					<a href="/schedule/">Schedule</a>
				</li>
				<li>
					<a href="/streams/">Past Streams</a>
				</li>
				<li>
					<a href="/sponsor/">Sponsor</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		&copy; 2022
	</footer>
</body>
</html>