<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/home.css" />
	{% include 'fonts.html' %}
	<title>Some Antics</title>
	<meta name="Algolia crawler" content="noindex">
</head>
<body>
	<main style="margin: auto; max-width: 60ch;">
		<h1>Some Antics</h1>
		<p><a href="https://twitch.tv/SomeAnticsDev">Some Antics</a> is a weekly show about <strong>accessibility</strong> and <strong>core web technologies</strong> by <a href="https://benmyers.dev">Ben Myers</a>. Each week, I invite an expert on who can teach me something about building great online user experiences in a hands-on way.</p>

		<article>
			<p>
				<strong>This site is redesigning out in the open!</strong> It's not pretty by any stretch, but I'm working on making it better.
			</p>
		</article>

		<h2 id="h-upcoming">Upcoming Streams</h2>
		<ul>
			{% for stream in collections.upcomingStreams %}
			<li>
				<div>
					<a href="{{ stream.url }}">{{ stream.data.title }}</a>
				</div>
				<div>
					<time datetime="{{ stream.data.date | date: '' }}">{{ stream.data.date | date: 'ddd, MMM D, YYYY' }} at {{ stream.data.timeOfDay }} Central</time>
				</div>
			</li>
			{% endfor %}
		</ul>

		<h2 id="h-past" style="margin-top: 2em">Past Streams</h2>
		<ul aria-labelledby="h-past">
			{% for stream in collections.pastStreams %}
			<li>
				<div>
					<a href="{{ stream.url }}">{{ stream.data.title }}</a>
				</div>
				<div>
					<time datetime="{{ stream.data.dateIso | date: '' }}">{{ stream.data.date | date: 'ddd, MMM D, YYYY' }} at {{ stream.data.timeOfDay }} Central</time>
				</div>
			</li>
			{% endfor %}
		</ul>
	</main>

	<style>
		* {
			font-family: Inter, sans-serif;
		}
		h1 {
			font-family: Nexa;
			font-weight: 900;
		}
	</style>
</body>
</html>