{% assign nextStream = collections.upcomingStreams | first %}
{% assign futureStreams = collections.upcomingStreams | slice: 1, 5 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/layout.css" />
	{% include fonts.html %}
	<title>Some Antics</title>
</head>
<body>
	{% include header.html, title: 'Some Antics!' %}
	<main>
		<section aria-labelledby="h-upcoming">
			<h2 id="h-upcoming">Upcoming Streams</h2>
			<article aria-labelledby="h-next">
				<div>
				</div>
				<h3 id="h-next">{{ nextStream.data.thumbnailTitle }}</h3>
				<p><small>with {{ nextStream.data.hosts | formatHosts: true }}</small></p>
			</article>
		</section>
	</main>
	<style>
		body {
			background-color: #280241;
		}

		article {
			background-color: #1c0929;
		}
	</style>
</body>
</html>