<meta property="og:site_name" content="Some Antics" />
{% if upload and uploadIsPublic %}
<meta property="og:video" content="{{ upload }}" />
{% endif %}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{ title }}" />
{% unless description %}
<meta property="og:description" content="{{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central{% if cleansedExcerpt %}. {{ cleansedExcerpt }}{% endif %}" />
<meta property="twitter:description" content="{{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central{% if cleansedExcerpt %}. {{ cleansedExcerpt }}{% endif %}" />
{% endunless %}
<meta property="twitter:site" content="@SomeAnticsDev" />
<meta property="twitter:creator" content="@BenDMyers" />
{% if upload %}
<meta name="keywords" content="{{ upload }}" />
{% endif %}