{% assign avatar = profile.name | avatar: profiles %}
{% assign profileSlug = profile.name | removeSpecialCharacters | slug %}
<article class="profile" aria-labelledby="host-{{ profile.name | removeSpecialCharacters | slug }}">
	<div>
		<img
			class="profile-avatar"
			src="{{ avatar }}"
			alt=""
			draggable="false"
		/>
		<p class="name" id="host-{{ profileSlug }}">{{ profile.name }}</p>
		{% if profile.pronouns %}
		<small class="pronouns">{{ profile.pronouns }}</small>
		{% endif %}
	</div>
	<dl>
		{% comment %} {% if profile.pronouns %}
		<div>
			<dt>
				{% include 'icons/speech-bubble.svg' %}
				<span class="visually-hidden">{{ profile.name }}'s Pronouns</span>
			</dt>
			<dd>{{ profile.pronouns }}</dd>
		</div>
		{% endif %} {% endcomment %}
		{% if profile.twitter %}
		<div>
			<dt>
				{% include 'icons/twitter.svg' %}
				<span class="visually-hidden" id="twitter-{{ profileSlug }}">
					{{ profile.name }}'s Twitter
				</span>
			</dt>
			<dd>
				<a
					href="https://twitter.com/{{ profile.twitter }}"
					aria-describedby="twitter-{{ profileSlug }}"
				>
					@{{ profile.twitter }}
				</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.instagram %}
		<div>
			<dt>
				{% include 'icons/instagram.svg' %}
				<span class="visually-hidden" id="instagram-{{ profileSlug }}">
					{{ profile.name }}'s Instagram
				</span>
			</dt>
			<dd>
				<a
					href="https://instagram.com/{{ profile.instagram }}/"
					aria-describedby="instagram-{{ profileSlug }}"
				>
					{{ profile.instagram }}
				</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.twitch %}
		<div>
			<dt>
				{% include 'icons/twitch.svg' %}
				<span class="visually-hidden" id="twitch-{{ profileSlug }}">
					{{ profile.name }}'s Twitch
				</span>
			</dt>
			<dd>
				<a
					href="https://twitch.tv/{{ profile.twitch }}"
					aria-describedby="twitch-{{ profileSlug }}"
				>
					{{ profile.twitch }}
				</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.github %}
		<div>
			<dt>
				{% include 'icons/github.svg' %}
				<span class="visually-hidden" id="github-{{ profileSlug }}">
					{{ profile.name }}'s GitHub
				</span>
			</dt>
			<dd>
				<a
					href="https://github.com/{{ profile.github }}"
					aria-describedby="github-{{ profileSlug }}"
				>
					{{ profile.github }}
				</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.devto %}
		<div>
			<dt>
				{% include 'icons/devto.svg' %}
				<span class="visually-hidden" id="devto-{{ profileSlug }}">
					{{ profile.name }}'s DEV.to
				</span>
			</dt>
			<dd>
				<a
					href="https://dev.to/{{ profile.devto }}"
					aria-describedby="devto-{{ profileSlug }}"
				>
					{{ profile.devto }}
				</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.website %}
		<div>
			<dt>
				{% include 'icons/link.svg' %}
				<span class="visually-hidden" id="website-{{ profileSlug }}">
					{{ profile.name }}'s Website
				</span>
			</dt>
			<dd>
				<a
					href="{{ profile.website }}"
					aria-describedby="website-{{ profileSlug }}"
				>
					{{ profile.website | normalizeUrl }}
				</a>
			</dd>
		</div>
		{% endif %}
	</dl>
</article>