{% assign avatar = profile.name | avatar %}
{% if profile.customAvatarUrl %}
{% assign avatar = profile.customAvatarUrl %}
{% endif %}
<section aria-labelledby="host-{{ profile.name | removeSpecialCharacters | slug }}">
	<div class="profile-avatar" style="background-image: url({{ avatar }});"></div>

	<h2 id="host-{{ profile.name | removeSpecialCharacters | slug }}">{{ profile.name }}</h2>
	<dl>
		{% if profile.pronouns %}
		<div>
			<dt>{% include icons/speech-bubble.svg %}<span class="visually-hidden">Pronouns</span></dt>
			<dd>{{ profile.pronouns }}</dd>
		</div>
		{% endif %}
		{% if profile.twitter %}
		<div>
			<dt>{% include icons/twitter.svg %}<span class="visually-hidden">Twitter</span></dt>
			<dd>
				<a href="https://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.instagram %}
		<div>
			<dt>{% include icons/instagram.svg %}<span class="visually-hidden">Instagram</span></dt>
			<dd>
				<a href="https://instagram.com/{{ profile.instagram }}/">{{ profile.instagram }}</a>
			</dd>
		</div>
		{% endif %}
		{% if profile.website %}
		<div>
			<dt>{% include icons/link.svg %}<span class="visually-hidden">Website</span></dt>
			<dd>
				<a href="{{ profile.website }}">{{ profile.website | normalizeUrl }}</a>
			</dd>
		</div>
		{% endif %}
	</dl>
</section>