---
layout: base.html
stylesheet: stream.css
---

<header data-hero="stream">
	<time datetime="{{ dateIso }}">{{ date | date: 'ddd, MMM D, YYYY' }} at {{ timeOfDay }} CT</time>
	<h1>{{ thumbnailTitle }}</h1>
	<small class="guests">
		with
		{% if guests %}
		<b>{{ guests | join: ',' }}</b>
		{% elsif hosts %}
		<b>{{ hosts | join: ', ' }}</b>
		{% endif %}
	</small>
	{% if isUpcoming %}
	<a href="{{ googleCalendarLink }}" class="cta">Add to Calendar</a>
	{% endif %}
	{% if upload and uploadIsPublic %}
	<div class="spacer-for-upload"></div>
	{% endif %}
</header>
{% if upload and uploadIsPublic %}
<article>
	<div class="video-embed">
		<p>{{ upload }}</p>
		<noscript><a href="{{ upload }}">Watch stream on YouTube</a></noscript>
	</div>
</article>
{% endif %}
<div class="stream-main-layout">
	<section class="content">
		{{ content }}
	</section>
	{% if sponsors %}
	<section class="sponsors">
		<h2>Sponsors</h2>
	</section>
	{% endif %}
	{% if transcriptPath %}
	<section class="transcript">
		<h2>Transcript</h2>
		{% renderFile transcriptPath %}
	</section>
	{% endif %}
	<aside class="sidebar">
		{% for host in hosts %}
		{% include 'profile.html', profile: profiles[host] %}
		{% endfor %}
		{% if guests %}
		{% for guest in guests %}
		{% include 'profile.html', profile: profiles[guest] %}
		{% endfor %}
		{% endif %}
	</aside>
</div>