@import 'mixins';

[data-card] {
	--card-surface: rgb(249 249 251);
	--corner-accent-color: var(--violet-2);
	
	
	@include block-link-container;
	position: relative;
	transition: background-color 0.15s var(--ease-in-out-1);
	// background-color: rgb(255 255 255 / 0.4);
	background-color: var(--card-surface);
	border-radius: var(--radius-conditional-2);
	box-shadow: var(--shadow-2);
	padding: var(--size-4);
	width: 40ch;

	a {
		color: inherit;
		display: block;
		
		&:first-of-type {
			@include block-link;
			text-decoration: none;
			font-family: 'Nexa', sans-serif;
			font-weight: var(--font-weight-9);
			font-size: var(--font-size-4);
		}
	}

	.guests {
		display: block;
		font-family: 'Nexa', sans-serif;
		font-size: var(--font-size-2);
	}

	time {
		display: block;
		font-family: 'Nexa', sans-serif;
		font-weight: var(--font-weight-6);
		font-size: var(--font-size-1);
		margin-block-end: 0.25rem;
		padding-inline-end: calc(var(--size-10) + 1rem);
	}

	.excerpt {
		border-block-start: 1px solid var(--gray-4);
		margin-block-start: var(--size-3);
		padding-block-start: var(--size-3);
	}

	&[data-card="featured"] {
		height: 100%;

		&:focus-within {
			& img {
				outline: 5px solid $purple-3;
	
				@include safari-only {
					outline: 5px solid transparent;
					border: 5px solid $purple-3;
				}
			}
		}

		& img {
			z-index: var(--layer-1);
			width: var(--size-12);
			margin-block-start: calc(-1 * var(--size-10));
			margin-inline: auto;
			position: absolute;
			left: calc(50% - calc(var(--size-12) / 2));
		}

		& time {
			margin-top: calc(var(--size-12) / 1.75);
		}
	}

	&[data-card="purple-corner"] {
		&:hover {
			& img {
				opacity: 0.9;
			}
		}

		&::after {
			content: '';
			position: absolute;
			background-color: var(--corner-accent-color);
			aspect-ratio: 1 / 1;
			border-radius: 0 0 0 100%;
			width: var(--size-10);
			top: 0;
			right: 0;
			pointer-events: none;
		}

		& img {
			position: absolute;
			z-index: var(--layer-1);
			width: var(--size-10);
			right: var(--size-4);
			box-shadow: var(--shadow-2);
		}

		& a {
			padding-inline-end: calc(var(--size-10) + 1rem);
			font-size: --
		}
	}
	
	& img {
		width: var(--size-11);
		box-shadow: var(--shadow-3);
		border-radius: var(--radius-round);
		cursor: pointer;
	}

	&:hover {
		--card-surface: var(--yellow-3);
		--corner-accent-color: var(--yellow-5);

		.excerpt {
			border-block-start: 1px solid var(--corner-accent-color);
		}
	}

	@media screen and (forced-colors: active) {
		img {
			outline: 3px solid LinkText;
		}

		&:focus-within,
		&:hover {
			& img {
				outline: 7px solid Highlight;
			}
		}
	}
}

.stream-grid {
	max-width: min(100%, 130ch);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 35ch), 1fr));
	margin-block-start: var(--size-9);
	margin-inline: auto;
	padding-inline: var(--size-fluid-3);
	column-gap: var(--size-8);
	row-gap: var(--size-8);
	grid-auto-flow: dense;

	[data-card] {
		width: 100%;
		height: 100%;
	}

	[data-card="featured"] {
		grid-row: span 2;
	}

	[data-card="purple-corner"] {
		a {
			font-size: calc(var(--font-size-4) - 4pt);
		}
	}
}

.upcoming-streams {
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));

	& [data-card="featured"] {
		grid-column: 1;
		grid-row: 1 / -4;
	}
}

.past-streams {
	margin-block-start: var(--size-10);

	& [data-card="featured"] {
		grid-row: span 2;
	}
}

.full-schedule {
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 55ch), 1fr));

	& [data-card="featured"] {
		grid-row: span 2;
	}
}