@import 'variables';

@mixin block-link-container {
	@include focus-within-outline($purple-3, 3px, 0px);
	position: relative;
}

@mixin block-link {
	&::after {
		content: '';
		position: absolute;
		inset: 0;
	}
}

@mixin focus-outline(
	$outline-color: var(--yellow-4),
	$outline-width: 3px,
	$outline-offset: 5px
) {
	&:focus-visible {
		outline: $outline-width solid $outline-color;
		outline-offset: $outline-offset;
		border-radius: var(--radius-2);
	}
}

@mixin focus-within-outline(
	$outline-color: var(--yellow-4),
	$outline-width: 3px,
	$outline-offset: 8px
) {
	&:focus-within {
		outline: $outline-width solid $outline-color;
		outline-offset: $outline-offset;
		border-radius: var(--radius-2);

		& :focus {
			outline: none;
		}
	}
}

@mixin hover-translucency($opacity: 0.8, $speed: 0.15s) {
	transition: opacity $speed var(--ease-in-out-1);

	&:hover {
		opacity: $opacity;
	}
}

@mixin border-gradient($gradient, $top: 0, $right: $top, $bottom: $top, $left: $right) {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-style: solid;
		border-width: 0;
		border-top-width: $top;
		border-bottom-width: $bottom;
		border-left-width: $left;
		border-right-width: $right;
		border-image: $gradient 1;
		z-index: 1;
		pointer-events: none;
	}
}

@mixin flow($gap: var(--size-5)) {
	& > * + * {
		margin-top: $gap;
	}

	& > h2 + * {
		margin-top: calc($gap / 3);
	}

	& > ol > li + li,
	& > ul > li + li {
		margin-top: calc($gap / 3);
	}
}