@import 'mixins';
@import 'variables';

@mixin header-link {
	@include focus-outline;
	@include hover-translucency;
	color: white;
	font-family: 'Nexa', sans-serif;
	font-weight: var(--font-weight-6);
	text-decoration: none;
}

body > header {
	background: $purple-4;
	box-shadow: var(--shadow-3);
	display: flex;
	padding-inline: var(--size-3);
	justify-content: space-between;
	z-index: 1;

	nav {
		ul {
			display: flex;
			gap: 2rem;
			list-style: none;
		}
	}
	
	a {
		@include header-link;
	}
}

body > footer {
	background-color: var(--gray-9);
	@include light-theme {
		background-color: var(--gray-9);
	}
	@include dark-theme {
		background-color: #0f0316;
	}
	color: var(--violet-0);
	padding: var(--size-4) var(--size-2);
	display: flex;
	flex-direction: row;
	gap: var(--size-6);
	justify-content: center;

	& > :not(:last-child) {
		padding-inline-end: var(--size-6);
		border-inline-end: 1px solid rgba(255, 255, 255, 0.25);
	}
}

#logo {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	width: max-content;
	font-weight: var(--font-weight-9);
	margin-block: 0.5em;
	& svg {
		height: 2rem;
	}
}

#hamburger {
	@include reset-button;
	@include header-link;
	margin-top: -0.11em;
	font-size: 2em;
	display: none;
}

@media screen and (max-width: 615px) {
	body > header {
		flex-direction: column;
		position: relative;
		padding: 0;
	}

	#logo {
		padding-inline-start: calc(var(--size-3) / 2);
	}

	#hamburger {
		display: block;
		position: absolute;
		top: 0;
		right: 0.4em;
	}

	#hamburger + ul {
		flex-basis: 100%;
		flex-direction: column;
		margin-inline-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		gap: 0;

		li {
			border-top: 1px solid $purple-3;
			
			a {
				display: block;
				padding-block: 1em;
				text-align: center;

				&:hover {
					background-color: $purple-2;
					transition: 0.2s background-color ease-in;
				}
			}
		}
	}
	
	#hamburger[aria-expanded="false"] + ul {
		display: none;
	}
}


.menu-container {
	position: relative;
	display: inline;

	button {
		@include focus-outline;
		background: none;
		border: none;
		color: white;
		cursor: pointer;
		font-family: 'Nexa', sans-serif;
		font-weight: var(--font-weight-6);
		transition: 0.15s background-color var(--ease-in-out-1);

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	[role="menu"] {
		position: absolute;
		list-style: none;
		background-color: var(--surface);
		width: max-content;
		margin: 0;
		padding: 0;
		top: inherit;
		left: 0;
		bottom: 125%;
		text-align: start;
		font-size: var(--font-size-2);
		box-shadow: var(--shadow-6);
		border-radius: var(--radius-2);

		[role="menuitem"] {
			position: relative;
			padding: 0;
			
			button {
				@include focus-outline(var(--header-focus-outline-color), 3px, -3px);
				display: flex;
				align-items: center;
				gap: var(--size-2);
				padding-block: var(--size-2);
				padding-inline: calc(var(--size-2) + 0.25rem);
				font-weight: var(--font-weight-6);
				font-family: 'Nexa', sans-serif;
				text-align: start;
				width: 100%;
				color: var(--text-color);

				&:hover {
					background-color: var(--alternate-background-color);
				}

				svg {
					width: 0.8em;
					height: 0.8em;
					path {
						fill: currentColor;
					}
				}

				&[aria-pressed="true"] {
					.unselected {
						display: none;
					}
				}

				&[aria-pressed="false"] {
					.selected {
						display: none;
					}
				}
			}

			&:not(:last-of-type) {
				border-block-end: 1px solid var(--surface-accent);
			}
		}
	}
}
