@import 'variables';
@import 'mixins';

$purple-1: #0f0316;
$purple-2: #2c0943;
$purple-3: #490f70;
$purple-4: #67169d;
$purple-5: #841cca;
$purple-6: #9e35e3;
$purple-7: #b362e9;
$purple-8: #c98ff0;
$purple-9: #dfbcf6;
$purple-10: #f4e9fc;

@mixin default-tokens {
	--page-background: var(--indigo-0);
	--alternate-background-color: var(--indigo-1);
	--text-color: black;
	--surface: rgb(249, 249, 251);
	--surface-accent: var(--violet-2);
	--surface-hover: var(--yellow-3);
	--surface-hover-text: inherit;
	--surface-hover-accent: var(--yellow-5);
	--focus-outline-color: #490f70;
	--header-focus-outline-color: var(--yellow-4);
}

:root {
	@include default-tokens;

	--primary: $purple-3;
	--primary-glare: $purple-5;
	--primary-soft: $purple-10;
	--primary-harsh: $purple-1;
	--primary-shade: $purple-2;
	--secondary: #ee4433;
	--secondary-glare: #ff6a5b;
	--secondary-soft: #fce8e8;
	--secondary-shade: #cd2210;
	--ternary: #eed043;
	--ternary-glare: #ffe56a;
	--ternary-shade: #dab819;
	--lightgray: #fcfcfc;
	--middlegray: #929292;
	--gradient-red-yellow: linear-gradient(to right, #ee4433, #eed043);
	--gradient-purple: linear-gradient(to right, #0f0316, #67169d);
	--gradient-purple-bright: linear-gradient(to right, #490f70, #9e35e3);
	--gradient-yellow: linear-gradient(to right, var(--ternary-shade), var(--ternary-glare));
	--gradient-yellow-dim: linear-gradient(
		to right,
		var(--yellow-6) 0%,
		var(--yellow-4) 100%
	);
	--brand-font: 'Nexa';
	--body-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--mono-font: 'Fira Mono';
	accent-color: var(--primary);
	font-family: var(--body-font);
	font-weight: 400;
	font-weight: 425;
}

:root *::selection {
	background-color: var(--secondary);
	color: white;
}

body {
	@include light-theme {
		@include default-tokens;
	}

	@include dark-theme {
		--page-background: #1f0d30;
		--alternate-background-color: #2b1344;
		--text-color: var(--indigo-0);
		// --surface: #431772;
		--surface: #501c87;
		--surface-text: var(--indigo-0);
		// --surface-accent: #5c2b91;
		--surface-accent: #6931a5;
		--surface-hover: var(--yellow-6);
		--surface-hover-text: black;
		--surface-hover-accent: var(--yellow-8);
		--focus-outline-color: var(--yellow-4);
		--header-focus-outline-color: var(--yellow-4);
	}
}