$purple-1: #0f0316;
$purple-2: #2c0943;
$purple-3: #490f70;
$purple-4: #67169d;
$purple-5: #841cca;
$purple-6: #9e35e3;
$purple-7: #b362e9;
$purple-8: #c98ff0;
$purple-9: #dfbcf6;
$purple-10: #f4e9fc;

$stream-breakpoint: 160ch;