@import 'variables';
@import 'global';

main {
	section {
		--heading-accent-color: var(--indigo-2);
		padding: var(--size-6);
		background-color: var(--indigo-0);
		&:nth-child(odd) {
			--heading-accent-color: var(--indigo-3);
			background-color: var(--indigo-1);
		}
	}

	h2 {
		font-size: var(--font-size-fluid-2);
		font-weight: var(--font-weight-9);
		color: var(--gray-9);
		max-width: fit-content;
		margin-block-start: var(--size-4);
		margin-block-end: var(--size-6);
		margin-inline: auto;

		&::after {
			border-block-end: 1px solid var(--heading-accent-color);
			content: '';
			display: block;
			margin-inline-start: 12.5%;
			width: 75%;
		}
	}
}

.upcoming-streams {
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 55ch), 1fr));

	& [data-card="featured"] {
		grid-column: 1;
		grid-row: 1 / -4;
	}

	// & [data-card="purple-corner"] {
	// 	grid-column: 2;
	// }
}

.past-streams {
	margin-block-start: var(--size-10);

	& [data-card="featured"] {
		grid-row: span 2;
	}
}

.cta-container {
	display: grid;
	place-items: center;
	margin-top: var(--size-6);
}

section .cta {
	@include focus-outline($purple-5);
}

#headshot {
	border-radius: var(--radius-round);
	width: var(--size-12);
}

#bio {
	border-inline-start: 1px solid var(--heading-accent-color);
	padding-inline-start: var(--size-5);
	padding-block: calc(var(--size-2) * 2);
	height: 100%;

	& > a {
		@include inline-text-link;
	}
}

.halfsies {
	display: flex;
	flex-direction: row;
	gap: var(--size-5);
	align-items: center;
	max-width: 80ch;
	margin-inline: auto;

	@media screen and (max-width: 615px) {
		flex-direction: column;

		#bio {
			border-inline-start: 0;
		}
	}
}

#h-ben {
	margin-block-end: 0;
}