@import 'variables';
@import 'global';

main {
	section {
		padding: var(--size-6);
		background-color: var(--indigo-0);
		&:nth-child(odd) {
			background-color: var(--indigo-1);
		}
	}

	h2 {
		font-size: var(--font-size-fluid-2);
		font-weight: var(--font-weight-9);
		color: var(--gray-9);
	}
}

.stream-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// max-width: 60ch;
	width: 90%;
	margin-block-start: var(--size-9);
	margin-inline: auto;
	column-gap: var(--size-10);

	&.upcoming-streams {
		[data-card] {
			grid-column: 2;
			width: 100%;
		}
	
		[data-card="featured"] {
			grid-column: 1;
			grid-row-start: 1;
			grid-row-end: 3;
			height: fit-content;
		}

		[data-card]:not([data-card="featured"]) {
			height: fit-content;
			& + [data-card] {
				margin-block-start: calc(-1 * var(--size-2));
			}
		}
	}
	
	
	[data-card]:not([data-card="featured"]) {
		& > div {
			margin-inline-end: calc(0.5 * var(--size-11));
		}

		a {
			margin-inline-end: var(--size-2);
		}

		img {
			position: absolute;
			right: calc(-0.5 * var(--size-11));
		}
	}

	@media screen and (max-width: 120ch) {
		display: flex;
		flex-direction: column;
		gap: var(--size-8);
	}

	&.past-streams {
		row-gap: var(--size-4);
	}
}

.past-streams {
	place-items: center;
	grid-template-rows: masonry;
}