{{ person.name | log }}
{%- set hostedStreams = collections.streams | getHostedStreams(person.name) -%}

<pre>
	{{ person | dump | safe}}
</pre>

<ul>
	{% for stream in hostedStreams | reverse -%}
	<li>
		<a href="{{ stream.url }}">
			{{ stream.data.title }}
		</a>
	</li>
	{% endfor %}
</ul>