---
templateEngineOverride: njk
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Host Avatars</title>
</head>
<body style="background-color: slategray">
	<main style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 50px">
		{% for hostName, hostDetails in profiles %}
		<img
			src="{{ hostName | avatar(profiles) }}"
			alt="{{ hostName }}"
			width="200"
			{% if hostDetails.customAvatarUrl %}
			class="custom"
			{% endif %}
		/>
		{% endfor %}
	</main>
	<style>
		.custom {
			outline: 5px solid salmon;
		}
	</style>
</body>
</html>