---
permalink: /api/upcomingStreams.json
---
{
	"streams": [
		{%- for stream in collections.upcomingStreams %}
		{% set title = stream.data.title -%}
		{%- if stream.data.thumbnailTitle -%}
		{% set title = stream.data.thumbnailTitle -%}
		{%- endif -%}
		{
			"title": "{{ title | safe }}",
			"fullTitle": "{{ stream.data.title | safe }}",
			"date": "{{ stream.data.dateIso }}",
			"hosts": {{ stream.data.hosts | dump | safe }},
			"slug": "{{ stream.fileSlug }}",
			"url": "{{ site }}{{ stream.url }}"
		}{%if not loop.last %},{% endif %}
		{%- endfor %}
	]
}