<script>
	setTimeout(() => {
		document.body.classList.remove('no-transition');
	}, 2000);
	const themeMenuTrigger = document.querySelector('.theme-picker [aria-haspopup="menu"]');
	const themeMenu = document.querySelector('.theme-picker [role="menu"]');
	const themeOptions = document.querySelectorAll('.theme-picker [role="menuitem"] button');
	let themeMenuIsOpen = false;
	
	function openThemeMenu() {
		themeMenuIsOpen = true;
		themeMenu.hidden = false;
		themeMenuTrigger.ariaExpanded = true;
	}

	function closeThemeMenu() {
		themeMenuIsOpen = true;
		themeMenu.hidden = false;
		themeMenuTrigger.ariaExpanded = true;
	}

	themeMenuTrigger.addEventListener('click', (event) => {
		if (themeMenuIsOpen) {
			closeThemeMenu();
		} else {
			openThemeMenu();
		}
	});
	
	document.addEventListener('click', (event) => {
		const clickedThemeOption = event.target.closest('.theme-picker [role="menu"] button');
		if (clickedThemeOption) {
			const theme = clickedThemeOption.value;
			// Clear the cookie
			document.cookie = "theme=; expires=Thu, 01 Jan 1970 00:00:00 GMT"
			document.cookie = `theme=${theme}; max-age=31536000`;
			document.querySelector('html').dataset.theme = theme;
			[...themeOptions].forEach(option => {
				option.setAttribute('aria-pressed', option === clickedThemeOption);
			});
		}
	});

	document.addEventListener('focusout', (event) => {
		if (!event.relatedTarget) {
			console.log({event})
			themeMenu.hidden = true;
			return;
		}

		const targetWasThemePickerTrigger = event.relatedTarget.closest('.theme-picker [aria-haspopup="menu"]');
		const targetWasInThemeMenu = event.relatedTarget.closest('.theme-picker [role="menu"]');
		console.log({event, targetWasInThemeMenu, targetWasThemePickerTrigger})
		if (!targetWasThemePickerTrigger && !targetWasInThemeMenu) {
			themeMenu.hidden = true;
		}
	});
</script>