* {
	font-family: Inter, sans-serif;
}

.visually-hidden,
.skip-link:not(:focus) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

a.cta.skip-link:focus {
	background-color: #280241;
	border-color: #ee4433;
	color: white;
	outline: 3px solid transparent;
	position: fixed;
}

body {
	background-color: whitesmoke;
	margin: 0;
}

header {
	background-color: #4C1074;
	background: linear-gradient(
		-45deg,
		#743c9b,
		#743c9b 30%,
		#4C1074 30%,
		#4C1074 100%
	);
	color: whitesmoke;
	padding: 1% 3% 100px;
	width: 100%;
}

header h1 {
	font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
	max-width: 20ch;
	font-family: 'Nexa', Verdana, sans-serif;
	font-weight: 900;
	margin: 0;
	text-shadow: 10px 10px #280241;
}

.body {
	display: flex;
	justify-content: center;
}

.body .left {
	margin-right: 1rem;
	position: relative;
}

.body .left > * + * {
	margin-top: 5em;
}

@media screen and (max-width: 500px) {
	.body {
		flex-direction: column;
	}

	#hosts section dl {
		margin: 0em 2em;
		max-width: 25em;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: Nexa, sans-serif;
	margin-top: 0;
}

main {
	line-height: 1.9;
	margin: 0 auto;
	max-width: 80ch;
	padding: 1rem;
}

main > * + * {
	margin-top: 1.5em;
}

h1, h2, h3 {
	font-family: Nexa, sans-serif;
	font-weight: 900;
}

a:not([class]) {
	color: black;
	font-family: Nexa, sans-serif;
	font-weight: 800;
	text-decoration: none;

	background-image: linear-gradient(120deg, #ffe56a 0%, #ffe56a 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
	-webkit-transition: background-size 0.25s ease-in;
	transition: background-size 0.2s ease-in, color 0.25s ease-in;
}

a:not([class]):hover, a:not([class]):focus {
	outline: 3px solid transparent;
	background-size: 100% 100%;
}

a.cta {
	display: inline-flex;
	align-items: center;
    background-image: none;
	background-color: #ffe56a;
	border: 5px solid #ffe56a;
    box-shadow: 5px 5px #280241;
	color: black;
	font-family: Nexa, sans-serif;
    font-weight: 900;
	padding: .5%;
	text-decoration: none;
    transition: none;
	user-select: none;
}

a.cta:hover, a.cta:focus {
	background-color: transparent;
	outline: 3px solid transparent;
}

a.cta svg {
	height: 1.2em;
	margin-right: 0.5em;
}

main a code {
	font-weight: 700;
}

main code {
	font-family: 'Fira Mono', monospace;
}

#hosts section {
	margin: 60px 1rem 5rem 1rem;
	padding: 0.8rem;
}

#hosts .profile-avatar {
	background-color: #1c0929;
	margin: -60px auto 10px auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: contain;
	box-shadow: 0 0 0 5px #1c0929;
}

#hosts dl {
	margin: 0;
}

#hosts dl > div {
	display: flex;
	align-items: center;
	margin-top: 0.75em;
}

#hosts dt, #hosts dd, #hosts dt > *, #hosts dd > * {
	display: inline;
	margin: 0;
}

#hosts dt svg path,
#hosts dt svg rect {
	fill: currentColor;
}

#hosts dt svg {
	color: #743c9b;
	width: 1.5em;
	margin-right: 0.4em;
}

#hosts dd {
	margin-bottom: 0.3em;
}

#hosts section h2 {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
}

.calendar-link {
	display: flex;
	padding: 3em;
}

.calendar-link a {
	margin: 0 auto;
	font-size: 125%;
	padding: 1% 1.5%;
	min-width: max-content;
}

main strong {
	font-family: Nexa, Inter, sans-serif;
	font-weight: 800;
}

.timecode {
	color: #4C1074;
}

.cta-list {
	display: flex;
	justify-content: center;
	gap: 1em;
}