.visually-hidden {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

body {
	background-color: #280241;
}

.body {
	display: flex;
	justify-content: center;
}

.body .left {
	margin-right: 1rem;
	position: relative;
}

.body .left::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 8px dotted #743c9b;
	transform: translate(-50%);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Nexa, sans-serif;
	margin-top: 0;
}

main {
	background-color: whitesmoke;
	line-height: 1.7;
	margin: 0 auto;
	max-width: 80ch;
	padding: 1rem;
}

main > * + * {
	margin-top: 1.5em;
}

main a, main a i, #hosts a {
	color: black;
	font-family: Nexa, sans-serif;
	font-weight: 800;
	text-decoration: none;

	background-image: linear-gradient(120deg, #ffe56a 0%, #ffe56a 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
	-webkit-transition: background-size 0.25s ease-in;
	transition: background-size 0.2s ease-in, color 0.25s ease-in;
}

main a:hover, main a:focus, #hosts a:hover, #hosts a:focus {
	outline: 3px solid transparent;
	background-size: 100% 100%;
}

main a code {
	font-weight: 700;
}

main code {
	font-family: 'Fira Mono', monospace;
}

#hosts section {
	background-color: whitesmoke;
	margin: 0rem 1rem 1rem 1rem;
	padding: 0.8rem;
}

#hosts dl {
	margin: 0;
}

#hosts dl > div {
	display: flex;
	align-items: center;
	margin-top: 0.75em;
}

#hosts dt, #hosts dd, #hosts dt > *, #hosts dd > * {
	display: inline;
	margin: 0;
}

#hosts dt svg path {
	fill: currentColor;
}

#hosts dt svg {
	color: #743c9b;
	width: 1.5em;
	margin-right: 0.3em;
}

#hosts dd {
	margin-bottom: 0.3em;
}

#hosts section a {
	color: black;
	font-family: Nexa, sans-serif;
	font-weight: 800;
}

#hosts section h2 {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
}