---
layout: base.html
stylesheet: homepage.css
title: "Some Antics: Accessibility made approachable."
description: Build great user experiences for the web with experts each week.
home: true
---

<header data-hero="landing">
	<h1>
		<strong class="block">Accessibility</strong>
		<span class="block">made approachable.</span>
	</h1>
	<p class="tagline">Build great user experiences for the web with experts each week.</p>
	<a href="https://www.twitch.tv/SomeAnticsDev" class="cta">
		{% include 'icons/twitch.svg' %} Follow on Twitch
	</a>
</header>
<section aria-labelledby="h-past">
	<h2 id="h-past">Watch previous streams</h2>
	<div class="stream-grid past-streams">
		{% assign pastStreams = collections.pastStreams | reverse %}
		{% for stream in pastStreams limit: 5 %}
		{% assign cardType = "purple-corner" %}
		{% if forloop.index == 1 %}
		{% assign cardType = "featured" %}
		{% endif %}
		{% include "partials/stream-card.html", stream: stream, cardType: cardType, lazy: true, featuredAvatarHeight: '180', featuredAvatarWidth: '180', cornerAvatarHeight: '90', cornerAvatarWidth: '90' %}
		{% endfor %}
	</div>
	<div class="cta-container">
		<a class="cta" href="/streams/">See all {{ collections.pastStreams | size }} streams</a>
	</div>
</section>
<section aria-labelledby="h-ben" id="meetBen">
	<h2 id="h-ben">Meet Ben!</h2>
	<div class="halfsies">
		<img
			id="headshot"
			src="{{ 'Ben Myers' | avatar: profiles }}"
			alt="Ben's headshot"
			aria-describedby="headshotDescription"
		/>
		<p hidden id="headshotDescription">
			Depicts a white person with dark brown hair and black spectacles. Ben is wearing a suit with a pattern that resembles brightly colored test patterns from TV, and is standing against a curtain that is vibrantly lit with reds and purples.
		</p>
		<p id="bio"><b>Howdy! I'm Ben Myers.</b> I'm a frontend developer working on the <a href="https://learn.microsoft.com">Microsoft Learn</a> developer documentation platform, and I'm passionate about building sites that are accessible, usable, and performant. In addition to hosting Some Antics, I blog about accessibility over at <a href="https://benmyers.dev" rel="me">benmyers.dev</a>.</p>
	</div>
</section>