---
layout: base.html
stylesheet: homepage.css
---

<header data-hero="landing">
	<h1>
		<strong class="block">Accessibility</strong>
		<span class="block">made approachable.</span>
	</h1>
	<p class="tagline">Build great user experiences for the web with experts each week.</p>
	<a href="https://www.twitch.tv/SomeAnticsDev" class="cta">
		{% include 'icons/twitch.svg' %} Follow on Twitch
	</a>
</header>
<section>
	<h2>Catch the next stream live!</h2>
	<div class="upcoming-streams">
		{% for stream in collections.upcomingStreams limit:4 %}
		{% assign people = stream.data.guests | concat: stream.data.hosts %}
		{% assign featuredPerson = people.first %}
		{% if forloop.index == 1 %}
		<article data-card="featured">
			<img src="{{ profiles[featuredPerson].name | avatar: profiles }}" alt="">
			<time datetime="{{ stream.data.dateIso }}">
				{{ stream.data.date | date: 'ddd, MMM D, YYYY' }} at {{ stream.data.timeOfDay }}
			</time>
			<a href="{{ stream.url }}">
				{{ stream.data.thumbnailTitle }}
			</a>
			<small class="guests">with <b>{{stream.data.guests | join: ', '}}</b></small>
			<p class="excerpt">{{ stream.data.cleansedExcerpt }}</p>
		</article>
		{% else %}
		<article data-card>
			<img src="{{ profiles[featuredPerson].name | avatar: profiles }}" alt="">
			<div>
				<time datetime="{{ stream.data.dateIso }}">
					{{ stream.data.date | date: 'ddd, MMM D, YYYY' }} at {{ stream.data.timeOfDay }}
				</time>
				<a href="{{ stream.url }}">
					{{ stream.data.thumbnailTitle }}
				</a>
				<small class="guests">with <b>{{stream.data.guests | join: ', '}}</b></small>
			</div>
		</article>
		{% endif %}
		{% endfor %}
	</div>
</section>
<section>
	<h2>Watch recent streams</h2>
</section>
<section>
	<h2>Sponsors</h2>
</section>