---
layout: base.html
title: Schedule
tagline: "See which streams are coming up!"
description: "See which streams are coming up!"
stylesheet: stream-list.css
---

<header data-hero="stream-list">
	<h1>{{ title }}</h1>
	<p class="tagline">{{ tagline }}</p>
</header>
<section aria-label="Schedule">
	<div class="stream-grid full-schedule">
		{% for stream in collections.upcomingStreams %}
		{% assign cardType = "purple-corner" %}
		{% if forloop.index == 1 %}
		{% assign cardType = "featured" %}
		{% endif %}
		{% assign lazy = forloop.index > 12 %}
		{% include "partials/stream-card.html", stream: stream, cardType: cardType, lazy: lazy %}
		{% endfor %}
	</div>
</section>