{% assign featuredPeople = hosts %}
{% if guests %}
{% assign featuredPeople = guests | concat: hosts %}
{% endif %}

{% if upload and uploadIsPublic %}
<meta property="og:video" content="{{ upload }}" />
{% endif %}
<meta property="og:description" content="{{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central{% if cleansedExcerpt %}. {{ cleansedExcerpt }}{% endif %}" />
<meta property="twitter:description" content="{{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central{% if cleansedExcerpt %}. {{ cleansedExcerpt }}{% endif %}" />
{% if upload %}
<meta name="keywords" content="{{ upload }}" />
{% endif %}
<meta property="og:image" content="{{ site }}/thumbnails/{{ page.fileSlug | removeDate }}.png" />
{% assign thumbTile = title %}
{% if thumbnailTitle %}
{% assign thumbTitle = thumbnailTitle %}
{% endif %}
<meta property="og:image:alt" content="{{ thumbTitle }} with {{ featuredPeople | formatHosts }}. {{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central." />
<meta name="twitter:image" content="{{ site }}/thumbnails/{{ page.fileSlug | removeDate }}.png" />
<meta property="twitter:image:alt" content="{{ thumbTitle }} with {{ featuredPeople | formatHosts }}. {{ date | date: 'dddd, MMMM D, YYYY' }} at {{ timeOfDay }} Central." />
{% if structuredData %}
<script type="application/ld+json">{{ structuredData }}</script>
{% endif %}