<div class="theme-picker menu-container">
	<button id="themePickerToggle" type="button" aria-expanded="false" aria-haspopup="menu">
		<span aria-hidden="true">🔆 </span>Theme
	</button>
	<ul hidden role="menu" aria-labelledby="themePickerToggle">
		<li role="menuitem">
			{% edge 'liquid' %}
			<button value="system" aria-pressed="{{ 'system' | isCurrentTheme }}">
			{% endedge %}
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>System</span>
			</button>
		</li>
		<li role="menuitem">
			{% edge 'liquid' %}
			<button value="light" aria-pressed="{{ 'light' | isCurrentTheme }}">
			{% endedge %}
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>Light</span>
			</button>
		</li>
		<li role="menuitem">
			{% edge 'liquid' %}
			<button value="dark" aria-pressed="{{ 'dark' | isCurrentTheme }}">
			{% endedge %}
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>Dark</span>
			</button>
		</li>
	</ul>
</div>