<div class="theme-picker menu-container">
	<button type="button" aria-expanded="false" aria-haspopup="menu">
		<span aria-hidden="true">🔆 </span>Theme
	</button>
	<ul hidden role="menu">
		<li role="menuitem">
			<button value="system" aria-pressed="{% edge 'liquid' %}{{ 'system' | isCurrentTheme }}{% endedge %}">
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>System</span>
			</button>
		</li>
		<li role="menuitem">
			<button value="light" aria-pressed="{% edge 'liquid' %}{{ 'light' | isCurrentTheme }}{% endedge %}">
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>Light</span>
			</button>
		</li>
		<li role="menuitem">
			<button value="dark" aria-pressed="{% edge 'liquid' %}{{ 'dark' | isCurrentTheme }}{% endedge %}">
				{% include 'icons/circle.svg' %}
				{% include 'icons/circular-checkmark.svg' %}
				<span>Dark</span>
			</button>
		</li>
	</ul>
</div>